<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td{
            padding: 5px;
        }
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td>Nombre Completo del Usuario</td>
            <td>Correo Electronico del Usuario</td>
            <td>Contraseña del Usuario</td>
            <td>Confirme la contraseña</td>
            <td>Rol del Usuario</td>
        </tr>
        <tr>
            <td>Andrés Felipe García</td>
            <td>AndrésFelipe@gmail.com</td>
            <td>15664</td>
            <td>15644</td>
            <td>Usuario</td>
        </tr>
        
        <tr>
          <td>Diego Alejandro Ruiz</td>
          <td>DiegoAlejandro@gmail.com</td>
          <td>29647</td>
          <td>29647</td>
          <td>Moderador</td>
      </tr>
      <tr>
          <td>Sofía Martínez González</td>
          <td>SofíaMartínez@gmail.com</td>
          <td>33859</td>
          <td>33859</td>
          <td>Usuario</td>
      </tr>
      <tr>
          <td>Esteban Sánchez Romero</td>
          <td>EstebanSánchez@gmail.com</td>
          <td>99764</td>
          <td>99764</td>
          <td>Administrador</td>
      </tr>
      <tr>
          <td>Camila Rodríguez López</td>
          <td>CamilaRodríguez@gmail.com</td>
          <td>75348</td>
          <td>75348</td>
          <td>Usuario</td>
      </tr>
      <tr>
          <td>Isabella Torres Ramírez</td>
          <td>IsabellaTorres@gmail.com</td>
          <td>23156</td>
          <td>23156</td>
          <td>Moderador</td>
      </tr>
      <tr>
          <td>Ana María Jiménez</td>
          <td>AnaMaría@gmail.com</td>
          <td>96586</td>
          <td>96586</td>
          <td>Moderador</td>
      </tr>
      <tr>
          <td>Fernando José Castillo</td>
          <td>FernandoJosé@gmail.com</td>
          <td>12345</td>
          <td>12345</td>
          <td>Moderador</td>
      </tr>
    </table>
    
</body>
</html>