<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td{
            padding: 5px;
        }
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td>Nombre Del Producto</td>
            <td>Descripción Del Producto</td>
            <td>Precio Del Producto</td>
            <td>Categoria Del Producto</td>
        </tr>
        <tr>
            <td>Procesador (Cpu)</td>
            <td>Analisa interpreta y procesa las instrucciones del programa informatico</td>
            <td>$1.600.500</td>
            <td>Potencia</td>
        </tr>
        
        <tr>
            <td>Memoria (Ram)</td>
            <td>Guarda la informacion, acciones, y archivos que esten en el dispositivo</td>
            <td>$80.475</td>
            <td>Calidad</td>
        </tr>
        
        <tr>
            <td>Ventilador</td>
            <td>Permite el libre flujo del calor producido a demas de disminuir la temperatura</td>
            <td>$50.043</td>
            <td>Buen Precio</td>
        </tr>
        
        <tr>
            <td>Placa Madre</td>
            <td>Permite la conexion y entendimiento de los demas componentes del sistema</td>
            <td>$666.900</td>
            <td>Potencia </td>
        </tr>
        
        <tr>
            <td>Disco Duro</td>
            <td>Dispositivo que permiten ampliar la capacidad de almacenamiento de la maquina</td>
            <td>$899.000</td>
            <td>Buen Precio </td>
        </tr>
        
        <tr>
            <td>Fuente de Alimentacion</td>
            <td>Convierte la corriente electrica en energia apta para el dispositivo</td>
            <td>$33.274</td>
            <td>Buen Precio</td>
        </tr>
        
        <tr>
            <td>Tarjeta Grafica</td>
            <td>Permite el analisis de datos o informacion relacionada con videos o imagenes</td>
            <td>$1.145.049</td>
            <td>Potencia </td>
        </tr>
        
        <tr>
            <td>Gabinete</td>
            <td>protege y alberga los componentes internos del dispositivo </td>
            <td>$98.910</td>
            <td>Calidad</td>
        </tr>
    </table>
    
</body>
</html>